/* Style for the footer container */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    background-color: #1f7361;
    margin-top: 0;
}

/* Style for the image elements */
.logo {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    max-width: 100%;
    height: auto;

}
@media (max-width: 768px) {
    .logo {
        width: 40px; /* Adjust the width for smaller screens */
        height: 40px; /* Adjust the height for smaller screens */
        margin: 0 5px; /* Adjust the margin for smaller screens */
    }
}
