@font-face {
    font-family: 'DMSerifDisplay';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.project-card {
    border: 3px solid #166252;
    background-color: #fff7;
    border-radius: 25px;
    padding: 16px;
    margin: 16px;
    width: 300px;
    font-family: 'DMSerifDisplay', sans-serif;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, .7);
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0b2722;
    margin-top: 6px;
    text-align: center;
}

.project-card img {
    width: 30rem;
    height: 20rem;
    display: block;
    margin: 0 auto;

}

.project-card p {
    font-size: 1.5rem;
    color: #1f1f1d;
    text-align: center;

}

.project-card a {
    display: block;
    text-decoration: none;
    text-align: center;
    border: solid 2px #0B2922;
    border-radius: 25px;
    color: #1f7361;
    background-color: #fff7e2;
    margin-top: 8px;
    font-size: 1.2rem;
    

}

.project-card a:hover {
    text-decoration: underline;
    color: #1f7361;
    background-color: #DCD4C0;
}