@font-face {
    font-family: 'DMSerifDisplay';
    src: url('./fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Set the height of all sections to 100vh (viewport height) */
section {
    height: 100vh;
    background-color: #1F7361;
}

section h2 {
    font-family: 'DMSerifDisplay';
    font-weight: 800;
    color: #0B2922;
}


/* Make the navigation bar sticky at the top */
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'TitanOne';
}

/* Make the footer sticky at the bottom */
footer {
    position: sticky;
    bottom: 0;
    z-index: 100;
}

/* Responsive styles for smaller screens (e.g., tablets and phones) */
@media (max-width: 768px) {

    section {
        height: auto;
        min-height: 100vh;
    }

    /* Adjust the navigation bar styles for smaller screens */
    nav {
        padding: 10px;

    }


    footer {
        padding: 10px;
    }
}