.welcome-section {
    display: flex;
    /* Display children side by side */
    flex-direction: row;
    /* Gets text centered */
    align-items: center;

    /* Stack items on small screens */
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

/* Style the image container */
section .image-container {
    flex: 1;
    margin-right: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.bitmo {
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, .7));
}

/* Style the paragraph */
.welcome-section p {
    flex: 1;
    font-size: 3rem;
    text-align: left;

}