@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.about-section h2 {
    font-weight: bold;
    font-size: 4.5rem;
    text-align: center;
}

.about-section p {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 20px;
    font-family: 'PlayfairDisplay', sans-serif;
}

.about-section {
    align-items: center;
    margin: 0 5vw 0 5vw;
}

/* Media query for medium-sized screens */
@media screen and (max-width: 1024px) {


    .about-section p {
        font-size: 1.8rem;
        /* Adjust font size for medium screens */
    }
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .about-section h2 {
        font-size: 2rem;
        /* Adjust font size for small screens */
    }

    .about-section p {
        font-size: 1.6rem;
        /* Adjust font size for small screens */
    }

    .about-section {
        margin: 0 2vw 0 2vw;
        /* Adjust margins for small screens */
    }
}