@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.contact-section {
    text-align: center;
}

.contact-section h2 {
    font-size: 4.5rem;
    text-align: center;
    font-weight: bold;
}

.contact-section p {
    text-align: center;
    font-family: 'PlayfairDisplay', sans-serif;
    padding-bottom: 1rem;
    font-size: 2rem;
}

#contactform {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 2rem;
}

/* Style for form input fields */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 6px solid #166252;
    border-radius: 15px;
    background-color: #F3F6F4;
}

/* Style for the submit button */
input[type="submit"] {
    background-color: #0b2922;
    /* Set the button background color */
    color: #fff;
    /* Set the button text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 35px;
    font-size: 2rem;
}

/* Style for the submit button on hover */
input[type="submit"]:hover {
    transform: translateY(-5px);
    /* Change the background color on hover */
}

/* Style for error messages (optional) */
.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}