@font-face {
    font-family: 'LibreI';
    src: url('../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Libre';
    src: url('../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League';
    src: url('../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.projects h2 {
    font-weight: bold;
    font-size: 4.5rem;
    text-align: center;
    padding-top: 2rem;
    font-family: 'League', sans-serif;
}

.projects h4 {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'LibreI', sans-serif;
}

.projects-container {
    display: flex;
    margin: 0 5vw 0 5vw;
    overflow: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    /* For smooth scrolling on iOS devices */
}

.project-card {
    min-width: 50%;
    scroll-snap-align: start;
    font-family: 'Libre',sans-serif;

}

@media (max-width: 768px) {
    .project-card {
        min-width: 100%;
        padding: 1rem;
    }

    .project-card h3 {
        font-size: 2rem;
    }

    .project-card h2 {
        font-size: .35rem;
    }

    .project-card img {
        max-width: 100%;
        height: auto;
    }

    .project-card p {
        font-size: 1rem;
    }

    .project-card a {
        font-size: 0.8rem;
    }
}