.projects h2 {
    font-weight: bold;
    font-size: 4.5rem;
    text-align: center;
    padding-top: 2rem;
    ;
}

.projects-container {
    display: flex;
    margin: 0 5vw 0 5vw;
    overflow: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    /* For smooth scrolling on iOS devices */
}

.project-card {
    min-width: 50%;
    scroll-snap-align: start;

}

@media (max-width: 768px) {
    .project-card {
        min-width: 100%;
        padding: 1rem;
    }

    .project-card h3 {
        font-size: 2rem;
    }

    .project-card img {
        max-width: 100%;
        height: auto;
    }

    .project-card p {
        font-size: 1rem;
    }

    .project-card a {
        font-size: 0.8rem;
    }
}