@font-face {
    font-family: 'DMSerifDisplay';
    src: url('./fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Set the height of all sections to 100vh (viewport height) */
section {
    height: 100vh;
    background-color: #1F7361;
}

section#projects {
    padding-top: 15rem;
}

section#contact {
    padding-top: 15rem;
}

section h2 {
    font-family: 'DMSerifDisplay';
    font-weight: 800;
    color: #0B2922;
}

/* Make the navigation bar sticky at the top */
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'TitanOne';
}

/* Make the footer sticky at the bottom */
footer {
    position: sticky;
    bottom: 0;
    z-index: 100;
}



/* Responsive styles for smaller screens (e.g., tablets and phones) */
@media (max-width: 860px) {
    section {
        height: auto;
        min-height: 100vh;
    }

    nav {
        padding: 10px;
    }

    footer {
        padding: 10px;
    }

    #resume,
    #about {
        display: block;
        width: 100%;
    }
}

/* Adjust the margin and padding for screens wider than 860px */
@media screen and (min-width: 861px) {

    /* Create a two-column layout for resume and about sections */
    #resume {
        display: inline-block;
        width: calc(50% - 20px);
        vertical-align: top;
    }

    #about {
        display: inline-block;
        width: calc(50% - 20px);
        vertical-align: top;
    }
}